.summary-form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.example-full-width {
    width: 80%;
}

.card {
    width: 35%;
    margin-top: 20px;
    align-items: center;
}